.ContainerSearchBar {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f0f0f0;
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.SearchLabel {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.SearchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.SearchButton {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}


.ResultsContainer {
  text-align: left;
  margin-top: 20px;
}

.removeSearch {
  position: relative;
  left: 150%; /* Ajusta la posición a la izquierda según sea necesario */
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}