body {
    margin: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }
